@font-face { font-family: 'Nanum Gothic';
    src: url("/fonts/NanumGothic.eot");
    src: url('/fonts/NanumGothic.eot') format('embedded-opentype'),
    url('/fonts/NanumGothic.woff') format('woff');
}
.gohomebt {
    width: 32px;
    height: 32px;
    float: left;
    opacity: 0.6;
}
#top_history {
    margin-bottom: 10px;
    float: left;
    padding-top: 12px;
    margin-left: 34px;
    line-height: 30px;
    font-weight: bold;
    color: #841A1C;
    font-family: 'Nanum Gothic';
    font-size: 11px;
}
.top_history_a {
    color: #841A1C;
    font-family: 'Nanum Gothic';
    font-size: 11px;
    height: 40px;
    float: left;
}
html, body {
    font-family: 'Noto Sans', 'Nanum Gothic', sans-serif;
    margin : 0px;
    padding: 0px;
    width : 100%;
    min-height: 100%;
}
div {
    overflow: hidden;
    height: auto;
}
#header {
    width : 100%;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.history_nonimg {
    float: left;
}
.header_blank_dot {
    margin: 0 10px 0 10px;
    float: left;
}
.top_history_a {
    float: left;
}
#MAINBASE {
    max-width : 1140px;
    margin : auto;
    background-color: white;
}
.file_use_guide {
    float:right; margin-top:20px; margin-right:30px;
}
a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
.top_login_btn {
    float:right;
    margin-top:20px;
}
.input_content { width:95%; height:45px; font-size:17px;	padding:7px; }

.blackLightbox {
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed; left: 0; top: 0; z-index: 2; display:none; filter: alpha(opacity=70);
    margin: 0px auto;
}
.login_main {
    visibility: visible;
    top: 180px; position:absolute; height: 420px; z-index: 3; padding:20px; background:white;
    border-radius:20px 0 20px 0;
    margin-left: 35%;
    text-align:left;
}
.search_title{
    font-size:15px;
    color:#f95050;
}

.Tables_logo {
    border-collapse:collapse;
    width:246px;
    margin-top:11px;
    text-align:center;
}

.search_filter_button {
    padding:5px 8px 5px 8px;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    font-size: 14px;
    height: 31px;
}

.search_manual {
    width: 15px;
    height: 15px;
    position: relative;
    left: 10px;
    top: 33px;
    color: #3f9ebd;
    font-size: 14px;
    z-index: 1;
    cursor:pointer;
}

.search_manual img {
    width:100%;
    height:100%;
}
#manual_popup{
    width: 525px;
    height: 440px;
    border: 1px solid #e1e1e1;
    overflow-y: scroll;
    background-color: white;
    left: 579px;
    top: 131px;
    display: none;
}
#manual_popupX{
    width: 49px;
    height: 50px;
    background-color: white;
    left: 1032px;
    top: 516px;
    display:none;
}

@media screen and (max-width:780px) {
    #MyLogo {
        width: 100%;
    }
    #box {
        width: 90%;
        margin:auto;
    }
    #search {
        width: 60%;
    }
    #searchbox {
        width: 100%;
    }
    #search_type {
        width: 30%;
    }
    .Tables_logo {
        width: 100%;
    }
    #manual_popup {
        display: none;
    }
    #manual_popupX {
        display: none;
    }
    #top_history {
        display: none;
    }
    .top_history_a {
        display: none;
    }
}
#box{
    width:610px;
    height:75px;
    margin:0px auto;
    margin-bottom:40px;
}

#MyLogo {
    width:780px;
    margin:auto;
}

#logo {
    width:220px;
    margin-top:15px;
    float:left;
    font-size: 40px;
    font-weight: bold;
    letter-spacing:-3px;
}

#search {
    height:100%;
    float:left;
    position: relative;
    padding-top: 23px;
    margin-left: 30px;
}

#menu-box{
    height:30px;
    float:left;
    position:relative;
    top:41px;
}

.menu{
    width:130px;
    height:100%;
    float:left;
    text-align:center;
    font-size:18px;
    color:#124263;
    /*font-weight:900;*/
    cursor:pointer;
}

.menu span {
    border-bottom:0px solid #3f9ebd;
    padding-bottom:3px;
}

#searchbox {
    width:300px;
    font-size:16px;
    color:#000000;
    border:1px solid #DDDDDD;
    border-right:0px solid;
    height:32px;
    padding-left:8px;
    outline-style:none;
    margin-top:-5px;
}

.menuOn {
    color:#F56007;
}
.menuDivideLine{
    font-size:14px;
}

#search_type {
    margin-top:7px;
    float:left;
}
#top_block {
    width: 100%;
    text-align: center;
    max-width: 1140px;
}
.header_link {
    overflow:auto;
    width: 100%;
}